* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lemonchiffon;
  background-position: center;
  background-size: cover;
}

.heading {
  font-family: serif;
  color: magenta;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  height: 60px;
}

.smooth {
  transition: transform calc(var(--f, 1) * 0.3s) ease-out;
}

.shadow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  box-shadow: inset 0 0 10px #000000;
  .controller {
    box-shadow: 0 8px 6px -6px black;
    padding: 0.5vw;
    margin: auto 1em;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
    }
    &:active{
      transform: scale(1.2s);
      background-color: white;
      border: 0.5px solid grey;
      box-shadow: inset 0 0 10px #000000;
    }
  }

  .slider-wrap {
    width: 100%;
    margin: 1rem auto;
    overflow: hidden;
    .container {
      --n: 1;
      display: flex;
      align-items: center;
      overflow-y: hidden;
      width: 100%;
      width: calc(var(--n) * 100%);
      height: 50vw;
      max-height: 100vh;
      transform: translate(calc(var(--tx, 0px) + var(--i, 0) / var(--n) * -100%));
      img {
        width: 100%;
        width: calc(100% / var(--n));
        user-select: none;
        pointer-events: none;
      }
    }
    .indicator {
      display: flex;
      justify-content: center;
      position: relative;
      top: -40px;
      .dot {
        content: "";
        background-color: blanchedalmond;
        padding: 0.4em;
        border-radius: 50%;
        margin: 0 0.2em;
        border: 1px solid greys;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: white;
          border: 0.5px solid grey;
          transform: scale(1.1);
          margin: 0 0.5em;
          box-shadow: inset 0 0 10px lightblue;
          cursor: pointer;
        }
      }
    }
  }
}
